@import '@/assets/scss/_vars.scss';
.form {
  &-wrapper {
    width: 100%;
  }
  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px 0;
    min-height: calc(100vh - 95px);
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
      text-transform: uppercase;
      color: #FFFFFF;
      position: relative;
      z-index: 2;
      margin-bottom: 60px;
    }
    &__fields {
      position: relative;
      z-index: 2;
      max-width: 624px;
      width: 100%;
      .input-field {
        position: relative;
        max-width: 624px;
        width: 100%;
        margin-bottom: 20px;
        &.file {
          cursor: pointer;
          input {
            opacity: 0;
          }
          label {
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: $grey;
            padding: 0 20px;
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              margin-right: 15px;
            }
          }
        }
        .error-msg {
          position: absolute;
          color: red;
          left: 50%;
          bottom: 2px;
          transform: translateX(-50%);
          font-size: 12px;
        }
        input {
          width: 100%;
          height: 55px;
          border: none;
          outline: none;
          background: #FFFFFF;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          color: $grey;
          padding: 0 20px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
    &__button {
      font-family: 'Gilroy', sans-serif;
      position: relative;
      z-index: 2;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
      max-width: 624px;
      width: 100%;
      padding: 15px 0;
      text-align: center;
      background: $grey;
      text-decoration: none;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        border: 2px solid #FFFFFF;
        background: transparent;
        color: #FFFFFF;
      }
    }
  }
}
.thanks-popup {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    cursor: pointer;
  }
  &__container {
    padding: 60px;
    background: #FFFFFF;
    position: relative;
    z-index: 5;
    max-width: 690px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .thanks {
      &-close {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
      }
      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: $grey;
        margin-bottom: 30px;
      }
      &-subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $grey;
        text-align: center;
      }
    }
  }
}

//---------------------- 0 - 980px --------------------

@media screen and (max-width: 980px){
  .form {
    &-wrapper {
    }
    &-container {
      padding: 25px;
      &__background {
        img {}
      }
      form {}
      &__title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 40px;
      }
      &__fields {
        .error-msg {font-size: 9px;white-space: nowrap}
        input {
          height: 35px;
          font-size: 13px;
          line-height: 15px;
        }
      }
      &__button {
        font-size: 15px;
        line-height: 25px;
        max-width: 70vw;
        padding: 4px 0;
        &:hover {}
      }
    }
  }
  .thanks-popup {
    &__overlay {}
    &__container {
      padding: 50px 30px;
      .thanks {
        &-close {
          position: absolute;
          right: 20px;
          top: 20px;
          cursor: pointer;
        }
        &-title {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 22px;
          color: $grey;
          margin-bottom: 10px;
          text-align: center;
        }
        &-subtitle {
          font-size: 16px;
          line-height: 16px;
          text-align: center;
        }
      }
    }
  }
}
