@import "src/assets/scss/vars";
header {
  background: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  .header {
    &-container {
      max-width: $container;
      width: 100%;
      padding: 24px 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__logo {
        font-weight: 900;
        font-size: 24px;
        line-height: 21px;
        color: $black;
        text-decoration: none;
      }
      &__nav {
        a + a {
          margin-left: 32px;
        }
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: $black;
          padding-bottom: 3px;
          text-decoration: none;
          position: relative;
          overflow: hidden;
          &:hover {
            &:before {
              width: 100%;
            }
          }
          &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background: $grey;
            transition: width 0.3s ease;
          }
        }
      }
      &__contact {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 12px 50px;
        background: $grey;
        text-decoration: none;
        border: 2px solid transparent;
        transition: all 0.3s ease;
        &:hover {
          border: 2px solid $grey;
          background: transparent;
          color: $grey;
        }
      }
    }
  }
}